@model SonProductRegistration.Web.Models.ProductCategorySector

<div id="createoredit-product-category-sector-component" class="width-440px">
    @using (Html.BeginForm("createsector", "admin", FormMethod.Post, new { id = "createoredit-product-category-sector-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal pt-3">
            <div mat-input-field class="mat-input-field form-group margin-bottom-20px">
                <div class="label margin-bottom-5px font-weight-bold">Title:</div>
                <div>
                    @Html.EditorFor(model => model.SectorName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SectorName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
</div>
