.vatebra-datagridview {
    outline: none;
}

    .vatebra-datagridview > * tr {
        cursor: pointer;
    }

    .vatebra-datagridview > * .custom-control {
        position: relative;
        display: block;
        height: 1rem;
        width: 1rem;
        padding-left: unset;
        margin: auto;
    }

    .vatebra-datagridview > * .custom-control-label {
        position: relative;
        width: 1rem;
        height: 1rem;
        margin: auto;
    }

        .vatebra-datagridview > * .custom-control-label::before {
            position: absolute;
            top: 0rem;
            left: 0rem;
            bottom: 0rem;
            right: 0rem;
            display: block;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
            content: "";
            user-select: none;
            background-color: #dee2e6;
        }

        .vatebra-datagridview > * .custom-control-label::after {
            position: absolute;
            top: 0rem;
            left: 0rem;
            bottom: 0rem;
            right: 0rem;
            display: block;
            width: 1rem;
            height: 1rem;
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

.list-group-item.active {
    z-index: 2;
    color: #fff !important;
    background-color: #48b96e;
    border-color: #48b96e;
}

/* manage view */

.vatebra-manage-component > * .pagination .page-item .page-link {
    color: #495057;
    padding: 11px 11px !important;
    min-width: 38px !important;
    width: unset !important;
    height: 40px !important;
    text-align: center !important;
    border-radius: 0 !important;
    border-color: #ced4da !important;
}

.vatebra-manage-component > * .pagination .active .page-link, .vatebra-manage-component > * .pagination .active .page-link:hover, .vatebra-manage-component > * .pagination .active .page-link:focus {
    color: #fff;
    background-color: #48b96e;
    border-color: transparent;
}

.vatebra-header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1030;
}

.vatebra-body .vatebra-mainpanel .container {
    max-width: none;
    padding: 30px 40px !important;
}

.vatebra-accordion-nav-item {
    display: block;
    width: 100%;
}

    .vatebra-accordion-nav-item.with-sub > .vatebra-accordion-nav-link::after {
        content: '\f3d0';
        font-family: 'Ionicons';
        margin-left: auto;
        position: relative;
        opacity: .75;
        display: none !important;
    }

    .vatebra-accordion-nav-item:first-child .vatebra-accordion-nav-link {
        border-top: 1px solid #dee2e6;
    }

        .vatebra-accordion-nav-item:first-child .vatebra-accordion-nav-link.active {
            border-top-width: 0;
        }

.vatebra-accordion-nav-link {
    padding: 0 20px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #495057;
    border-bottom: 1px solid #dee2e6;
}

    .vatebra-accordion-nav-link i {
        color: #48b96e;
        text-align: center;
    }

    .vatebra-accordion-nav-link .header-title i {
        font-size: 30px;
        margin-right: 8px;
        width: 20px;
    }

    .vatebra-accordion-nav-link i.ion-ios-analytics-outline {
        font-size: 20px;
    }

    .vatebra-accordion-nav-link i.ion-ios-book-outline {
        font-size: 20px;
    }

    .vatebra-accordion-nav-link i.ion-ios-location-outline {
        font-size: 22px;
    }

    .vatebra-accordion-nav-link i.ion-ios-information-outline {
        font-size: 22px;
    }

    .vatebra-accordion-nav-link i.ion-ios-chatboxes-outline {
        font-size: 22px;
    }

    .vatebra-accordion-nav-link:hover, .vatebra-accordion-nav-link:focus {
        background-color: #f8f9fa;
    }

    .vatebra-accordion-nav-link.active {
        background-color: #48b96e;
        background-image: linear-gradient(to right, #48b96e 0%, #04a038 100%);
        background-repeat: repeat-x;
        border-bottom-width: 0;
        color: #fff;
        margin-right: -1px;
    }

        .vatebra-accordion-nav-link.active i {
            color: #fff;
        }

        .vatebra-accordion-nav-link.active + .vatebra-accordion-nav-sub {
            display: block;
        }

.vatebra-accordion-nav-sub {
    border-bottom: 1px solid #dee2e6;
    display: none;
}

    .vatebra-accordion-nav-sub .nav-sub-item {
        display: block;
        width: 100%;
    }

        .vatebra-accordion-nav-sub .nav-sub-item + .nav-sub-item {
            margin-top: 1px;
        }

        .vatebra-accordion-nav-sub .nav-sub-item.sub-with-sub .nav-sub-link::after {
            content: '\f3d0';
            font-family: 'Ionicons';
            margin-left: auto;
            position: relative;
            opacity: .75;
            font-size: 12px;
            display: none !important;
        }

        .vatebra-accordion-nav-sub .nav-sub-item.sub-with-sub ul {
            margin: 0;
            padding: 5px 0;
            list-style: none;
            display: none;
        }

            .vatebra-accordion-nav-sub .nav-sub-item.sub-with-sub ul li {
                margin-bottom: 10px;
            }

            .vatebra-accordion-nav-sub .nav-sub-item.sub-with-sub ul a {
                color: #868ba1;
                padding-left: 60px;
                font-size: 13px;
            }

                .vatebra-accordion-nav-sub .nav-sub-item.sub-with-sub ul a:hover, .vatebra-accordion-nav-sub .nav-sub-item.sub-with-sub ul a:focus {
                    color: #48b96e;
                }

    .vatebra-accordion-nav-sub .nav-sub-link {
        padding: 6px 20px 6px 48px;
        color: #868ba1;
        transition: all 0.2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

.sidebar-nav-sub .nav-sub-link {
    margin-right: -1px !important;
    height: 42px !important;
}

    .sidebar-nav-sub .nav-sub-link.active {
        background-color: #48b96e !important;
        background-image: linear-gradient(to right, #48b96e 0%, #04a038 100%) !important;
        background-repeat: repeat-x !important;
        border-bottom-width: 0 !important;
        color: #fff !important;
        margin-right: -1px !important;
        height: 42px !important;
    }

/* Document */

.vatebra-document-preview {
    min-width: 900px !important;
    max-width: 900px !important;
    height: 1000px !important;
}

.list-group-item .footer {
    display: none;
}

.list-group-item.active .footer {
    display: block;
}

.card.active {
    background-color: #48b96e;
    background-image: linear-gradient(to bottom, #48b96e 0%, #04a038 100%);
    background-repeat: repeat-x;
    border-bottom-width: 0;
    color: #fff;
    margin-right: -1px;
}

/* readonly attribute */
.form-control:disabled, .dataTables_filter input:disabled, .form-control[readonly], .dataTables_filter input[readonly] {
    background-color: unset !important;
    opacity: 1;
}


/* datepicker calendar */
.ui-datepicker {
    width: auto !important;
    z-index: 1115 !important;
    position: absolute !important;
}

/* material design components */

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: unset !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-appearance: none !important;
    background-color: #FFF !important;
    transition: unset !important;
}

.mat-editable-field > * div[contenteditable] {
    resize: none;
    display: block;
    padding: 0.594rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #495057 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.mat-input-field, .mat-editable-field, .mat-select-menu, .mat-date-picker, .mat-button, .mat-upload-button, .mat-upload-link {
    outline: none;
    position: relative;
    margin-bottom: 30px;
}

    .mat-input-field .label, .mat-editable-field .label {
        width: auto !important;
        position: absolute;
        top: 0px;
        padding: 0.594rem 0.75rem;
    }

    .mat-input-field[focused] .label, .mat-editable-field[focused] .label {
        line-height: 14px !important;
        font-size: 12px !important;
        font-weight: bold !important;
        width: auto !important;
        position: absolute;
        top: -15px;
        left: 5px;
        background-color: #FFF;
        padding: 0.294rem 0.3rem;
    }


    /* select menu */
    .mat-select-menu .label {
        line-height: 14px !important;
        font-size: 12px !important;
        width: auto !important;
        position: absolute;
        top: -15px;
        left: 5px;
        background-color: #FFF;
        padding: 0.294rem 0.3rem;
    }


    /* date picker */
    .mat-date-picker .label {
        line-height: 14px !important;
        font-size: 12px !important;
        width: auto !important;
        position: absolute;
        top: -15px;
        left: 5px;
        background-color: #FFF;
        padding: 0.294rem 0.3rem;
    }


    /* general inheritance */
    .mat-input-field > * input,
    .mat-editable-field > * textarea,
    .mat-editable-field > * div[contenteditable],
    .mat-select-menu > * select,
    .mat-date-picker > * input {
        outline: none;
    }


    /* editable textarea */
    .mat-editable-field > * textarea {
        resize: none;
        font-size: 0.875rem;
        line-height: 1.5;
        overflow: hidden;
    }


/* material design multi step progress */
.mat-step-progress {
    outline: none;
}

    .mat-step-progress .mat-progress-bar {
        outline: none;
        margin-top: 25px;
        margin-bottom: 20px;
    }

        .mat-step-progress .mat-progress-bar ul {
            list-style-type: none;
            white-space: nowrap;
        }

            .mat-step-progress .mat-progress-bar ul li {
                list-style-type: none;
                color: #99a2a8;
                font-size: 9px;
                width: calc(100%/3);
                float: left;
                position: relative;
                font: 500 13px/1 "Roboto", sans-serif;
                text-align: center;
            }

                .mat-step-progress .mat-progress-bar ul li:nth-child(2) i {
                    outline: none;
                }

                    .mat-step-progress .mat-progress-bar ul li:nth-child(2) i:before {
                        content: "\f12f";
                    }

                .mat-step-progress .mat-progress-bar ul li:nth-child(3) i {
                    outline: none;
                }

                    .mat-step-progress .mat-progress-bar ul li:nth-child(3) i:before {
                        content: "\f457";
                    }

                .mat-step-progress .mat-progress-bar ul li i {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                    width: 50px;
                    height: 50px;
                    display: block;
                    background: #eaf0f4;
                    border-radius: 50%;
                    margin: 0 auto 10px auto;
                    z-index: 2;
                }

                    .mat-step-progress .mat-progress-bar ul li i:before {
                        content: "\f318";
                        font: normal normal normal 30px/50px Ionicons;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        display: block;
                        background: #eaf0f4;
                        border-radius: 50%;
                        margin: 0 auto 10px auto;
                        z-index: 2;
                    }

                .mat-step-progress .mat-progress-bar ul li span {
                    margin-top: 60px;
                    display: block;
                }

                .mat-step-progress .mat-progress-bar ul li:after {
                    content: "";
                    width: 100%;
                    height: 5px;
                    background: #eaf0f4;
                    position: absolute;
                    left: -50%;
                    top: 21px;
                    z-index: -1;
                }

                .mat-step-progress .mat-progress-bar ul li:last-child:after {
                    width: 150%;
                }

                .mat-step-progress .mat-progress-bar ul li.active {
                    color: #5cb85c;
                }

                    .mat-step-progress .mat-progress-bar ul li.active:before,
                    .mat-step-progress .mat-progress-bar ul li.active:after,
                    .mat-step-progress .mat-progress-bar ul li.active i:before,
                    .mat-step-progress .mat-progress-bar ul li.active i:after {
                        background: #5cb85c;
                        color: white;
                    }

    .mat-step-progress .mat-panel-view {
        white-space: nowrap;
        position: relative;
         /*overflow: hidden;
       width: 100vW;
        height: 100vH !important;*/
    }

        .mat-step-progress .mat-panel-view .mat-panel-container {
            white-space: nowrap;
            position: absolute;
            top: 0px;
            left: 0px;
            transition: all .2s linear;
            vertical-align: middle;
            align-items: center;
            /*display: flex;*/
        }

            .mat-step-progress .mat-panel-view .mat-panel-container .mat-panel {
                white-space: nowrap;
                display: inline-block;
                /*flex: 0 0;*/
                min-height: 400px;
                vertical-align: top !important;
                margin: auto;
                transition: all .2s linear;
                margin-bottom: 30px;
                margin: 0px;
                position: relative;
                vertical-align: top;
                align-items: center;
            }



.mat-stackable-view {
    position: relative;
    transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    background: #FFF;
}

    .mat-stackable-view .panel-item {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        background: #FFF;
        overflow: hidden;
        overflow-x: hidden;
        /*overflow-y: auto;*/
    }

    .mat-stackable-view .active {
        position: relative !important;
        z-index: 10;
        visibility: visible;
        opacity: 1;
        transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }




.clear {
    clear: both;
}


/* .mat-upload-button */
.mat-upload-button {
    position: relative;
    min-height: 200px !important;
    padding: 10px 0px;
}

    .mat-upload-button .upload-button {
        max-width: unset !important;
        min-width: 250px;
        min-height: 200px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        padding-bottom: 30px;
    }

        .mat-upload-button .upload-button::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            border: 2px dashed rgba(225, 228, 230, 0.979);
        }

    .mat-upload-button input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0px;
        cursor: pointer;
        opacity: 0;
        font-size: 99999px;
        height: 99999px;
    }

    .mat-upload-button iframe {
        position: absolute;
        top: -999999;
        left: -999999;
        cursor: pointer;
        opacity: 0;
        font-size: 120px;
    }

    .mat-upload-button .label {
        outline: none;
        box-shadow: unset !important;
        text-align: center;
        padding: 30px;
        height: 200px;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
    }

    .mat-upload-button .preview-panel {
        margin: auto;
    }

        .mat-upload-button .preview-panel .image-preview {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

    .mat-upload-button .upload-item {
    }

    .mat-upload-button[upload-items] .uploaded-item-list {
        /*margin-top: 30px;*/
    }

        .mat-upload-button[upload-items] .uploaded-item-list .upload-item {
            flex: 1;
            -webkit-flex: 1;
            -moz-box-flex: 1;
            -ms-flex: 1;
            min-height: 60px;
            position: relative;
            margin-bottom: 10px;
        }

            .mat-upload-button[upload-items] .uploaded-item-list .upload-item .preview-panel {
                margin: auto;
                padding: 20px;
            }

                .mat-upload-button[upload-items] .uploaded-item-list .upload-item .preview-panel .image-preview {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 80px;
                    height: 95px;
                }

            .mat-upload-button[upload-items] .uploaded-item-list .upload-item:nth-of-type(3n+0) {
                margin-right: 0px;
            }

.popover {
    z-index: 1000 !important;
}


/* summernote extension */
.note-editor.note-frame {
    border: none !important;
}

    .note-editor.note-frame .note-statusbar {
        display: none !important;
    }



/* left panel */
.signin-right {
    /*overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;*/
}

    .signin-right .signin-box {
        /*width: 100vW !important;*/
    }

        /*.signin-right .signin-box.signup {
            width: auto !important;
        }*/



/* Other Screens and Devices */
@media screen and (prefers-reduced-motion: reduce) {
    .vatebra-accordion-nav-sub .nav-sub-link {
        transition: none;
    }
}

.vatebra-accordion-nav-sub .nav-sub-link:hover, .vatebra-accordion-nav-sub .nav-sub-link:focus {
    background-color: #f8f9fa;
    color: #48b96e;
}

.vatebra-accordion-nav-sub .nav-sub-link.active {
    background-color: #f2f4f6;
    color: #495057;
}

@media (min-width: 1200px) {
    .vatebra-body {
        display: flex;
        min-height: calc(100vh - 75px);
    }

        .vatebra-body .vatebra-sidebar {
            position: fixed !important;
            top: 75px !important;
            left: 0px !important;
            bottom: 0px !important;
        }

        .vatebra-body .vatebra-mainpanel {
            margin-top: 75px !important;
            margin-left: 230px !important;
        }

    .hide-sidebar .vatebra-body .vatebra-mainpanel {
        margin-left: 0px !important;
    }
}

@media (min-width: 768px) {
    .vatebra-body .vatebra-mainpanel {
        margin-top: 75px !important;
    }
}
